.navbar {
    background-color: #333;
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  nav a.active {
    font-weight: bold;
    background-color: #555;
  }
  